body,html{
    background: #e1dfde;
    height: 100%;
    margin: 0 auto;
}

input:focus:invalid{
    border-color:#FF0000;
    background-image:none;
}
input:focus:valid {
    border-color:#56c93f;
}
input:valid{
    background-image:none;
}
#field{
    width: 600px;
    height: 590px;
}
.form_text{
    border: 1px solid #8a9ba8;
    width: 282px;
    height: 25px;
    font-size: 18px;
    color:#4A5D77;
    padding: 6px;
    margin: 12px;
    outline: 0;
}
#col_form table tr td{
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    color: rgb(77, 77, 77);
    font-weight: 600;
}
.error_form{
    font-size: 15px;
    font-family: Arial;
    color: #FF0052;
}
.sbmit_btn{
    height: 40px;
    width: 250px;
    margin-top: 10px;
    border-bottom-color: rgb(27, 133, 212);
    border-radius: 5px;
    border:0px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: white;
    background-color: rgb(27, 133, 212);
    font-family: Arial;
    font-size: 18px;
    padding: 6px 24px;
    margin-top: 30px;
}
.sbmit_btn:hover {
   color: white;
   background-color: dodgerblue;
   border-radius: 5px;
   font-size: 18px;
 }
#head{
    height: 40px;
    background-color: black;
    margin-top: -15px;
    text-align: right;
}
h1{
    font-family: "monotype corsiva";
    color: white;
    margin-right: 110px;
}
#col_img {
    width: 450px;
}
#img{
    float: left;
    background-position: 0px 0px;
    width: 660px;
    height: 655px;
    background-repeat: no-repeat;
    background-size: 100% 80.69%;
}
#col_form{
    width: 670px;
    height: 640px;
    float: left;
}
.clear{
    clear: both;
}
#txt{
    visibility: hidden;
}
#lb1{
    color: rgb(137, 137, 137);
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
}
#Welcome{
    text-decoration: none;
    color:white;
}
#lb2{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

#lb{
    color: rgb(77, 77, 77);
    font-family: "Open Sans",sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.cl{
    color: rgb(77, 77, 77);
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    font-weight: 600;
}
